gensim==3.7.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
matplotlib==3.0.2
nltk==3.4
numpy==1.16.1
pandas==0.24.1
Pillow==5.4.1
pyLDAvis==2.1.2
python-dateutil==2.8.0
scikit-learn==0.20.2
scipy==1.2.1
seaborn==0.9.0
six==1.12.0
spacy==2.0.18
tensorboard==1.13.0
textblob==0.15.3
tqdm==4.31.1
urllib3==1.24.1
vaderSentiment==3.2.1
wordcloud==1.5.0
